In [4]:
import pygsheets
from oauth2client.service_account import ServiceAccountCredentials
from pathlib import Path
import pandas as pd
pd.set_option('mode.chained_assignment', None)

In [5]:
import pandas as pd
pd.options.display.max_columns = 0

In [6]:

# Load the credentials from the JSON file (replace with the path to your file)
sf_path = r'inductive-gift-355101-48518c54d576.json'
gc = pygsheets.authorize(service_account_file=sf_path)

In [7]:
def get_number_gsheet(service_file_path, spreadsheet_id, sheet_name):
    gc = pygsheets.authorize(service_file=service_file_path)
    sh = gc.open_by_key(spreadsheet_id)
    wks = sh.worksheet_by_title(sheet_name)
    df = wks.get_as_df(
        numerize=False, value_render='UNFORMATTED_VALUE', empty_value=None)
    df = df.replace(to_replace='', value=None)

    return df

# %%
# lay du lieu tu googhesheet ma khong co du lieu so


def get_df_from_gsheet(service_file_path, spreadsheet_id, sheet_name, start=None):
    gc = pygsheets.authorize(service_file=service_file_path)
    sh = gc.open_by_key(spreadsheet_id)
    wks = sh.worksheet_by_title(sheet_name)
    df = wks.get_as_df(start, numerize=False, empty_value=None)
    df = df.replace(to_replace='', value=None)
    df.drop_duplicates(inplace=True)

    return df

In [8]:
def get_data(sheet_name, start):
    spreadsheet_id = '1Bmm9GGP3QE5k_T8eODN3Hrh8ICzMgAazYkw0gWNRZDs'

    gc = pygsheets.authorize(service_file=sf_path)
    sh = gc.open_by_key(spreadsheet_id)
    wks = sh.worksheet_by_title(sheet_name)
    df = wks.get_as_df(start, numerize=False, value_render='UNFORMATTED_VALUE', empty_value=None)
    df = df.replace(to_replace='', value=None)
    # df.drop_duplicates(inplace=True)

    df2 = df.transpose()
    df2.iloc[:,1] = df2.iloc[:,1].ffill()
    df3 = df2.transpose()
    # Combine the two lists
    combined_list = [f"{a}|{b}" for a, b in zip(df3.iloc[1].to_list(), df3.iloc[2].to_list())]
    df3.columns = combined_list
    return df3

In [9]:
def extract_daily(df3, sheet_name):
    df_daily = df3.iloc[10:,:]
    df_daily2 = df_daily.melt(id_vars='None|None')
    df_daily2[['user', 'criteria']] =df_daily2['variable'].str.split('|', expand=True)
    df_daily2.rename(columns={'None|None':'report_date'}, inplace=True)
    df_daily2.drop(columns='variable', inplace=True)
    df_daily2.dropna(subset='value', inplace=True)
    df_daily3 = df_daily2.query("value!=0").pivot(columns='criteria', index=['user', 'report_date'], values='value').reset_index()
    df_daily3['report_date'] = df_daily3['report_date'].astype('str') + '/' + sheet_name
    df_daily3['report_date'] = pd.to_datetime(df_daily3['report_date'], format='%d/%m/%Y')
    # df_daily3.to_parquet(rf".\data\daily\{str(sheet_name).replace('/', '-')}.parquet", index=False )
    return df_daily3

In [10]:
def extract_target(df3, sheet_name):
    df_target = df3.iloc[3:10]
    df_target.rename(columns={"None|None":"item"}, inplace=True)
    df_target.query("item.isin(['Target', 'Daily'])", inplace=True)

    df_target2 = df_target.melt(id_vars='item')
    df_target2[['user', 'criteria']] =df_target2['variable'].str.split('|', expand=True)
    # df_target2.rename(columns={'item':'report_date'}, inplace=True)
    df_target2.drop(columns='variable', inplace=True)
    df_target2.dropna(subset='value', inplace=True)

    df_target2.drop_duplicates(subset=['item', 'user'], inplace=True)
    df_target3 = df_target2.query("value!=0").pivot(columns='item', index=['user'], values='value').reset_index()

    df_target3['report_month'] = '01/' + sheet_name
    df_target3['report_month'] = pd.to_datetime(df_target3['report_month'], format='%d/%m/%Y')
    # df_target3.to_parquet(rf".\data\target\{str(sheet_name).replace('/', '-')}.parquet", index=False )
    return df_target3

In [11]:
sheets = [
        # '9/2024',
        # '8/2024',
        # '7/2024',
        # '6/2024',
        # '5/2024',
        # '4/2024',
        # '3/2024',
        # '2/2024',
        # '1/2024',
        # '12/2023',
        # '11/2023',
        # '10/2023',
        # '9/2023',
        # '8/2023',
        # '7/2023',
        # '6/2023',
        '5/2023',
        # '4/2023',
        # '3/2023',
        # '2/2023',
        # '1/2023',
]
for sheet_name in sheets:
    df3 = get_data(sheet_name=sheet_name, start='A1')
    df_daily = extract_daily(df3, sheet_name)
    df_target = extract_target(df3, sheet_name)
    # Get start of month and number of days in the month
    start_of_month = df_target.loc[0,'report_month']
    num_days = start_of_month.days_in_month

    # Create a date range for each day of the month
    date_range = pd.date_range(start_of_month, periods=num_days, freq='D')
    df_target['report_date'] = [date_range]*len(df_target)
    df_target = df_target.explode('report_date')
    df_target['report_day'] = df_target['report_date'].dt.day
    df_target['no_of_day'] = num_days
    df_target['Daily'] = df_target['Daily'].astype(int)

    df_target['Target'] = df_target['Target'].astype(int)
    df_target['daily_target_norm'] =  df_target['Target']/df_target["no_of_day"]
    df_target['mtd_target_norm'] = df_target['daily_target_norm'] * df_target['report_day']
    dta = df_target.merge(df_daily, how='left', on=['user','report_date'])
    dta['Total'] = dta['Total'].fillna(0)
    dta['Total'] = pd.to_numeric(dta['Total'], errors='coerce')
    dta['mtd_actual'] = dta.sort_values(by=['user', 'report_date']).groupby(['user'])['Total'].cumsum()
    # danh dau ngay dai daily target
    dta['flg_daily']  = 0
    flt = dta['Total'] >= dta['Daily']
    dta.loc[flt, 'flg_daily'] = 1

    # danh dau ngay co tap luyen
    dta['flg_workout'] = 0
    flt = dta['Total'] >0
    dta.loc[flt, 'flg_workout'] = 1


    for col in ['Burpee', 'Core','Pushup', 'Run', 'Squat','flg_daily', 'flg_workout']:
        try:
            dta[col] = pd.to_numeric(dta[col], errors='coerce')
            dta[col] = dta[col].fillna(0)
            new_col = 'mtd_'+col
            dta[new_col] = dta.sort_values(by=['user', 'report_date']).groupby(['user'])[col].cumsum()
        except Exception as e:
            print(e)
    # tinh toan accumulate
    dta.to_parquet(rf".\data\daily\dta_{str(sheet_name).replace('/', '-')}.parquet", index=False )
    print(sheet_name)

ValueError: time data "1.0/5/2023" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [12]:
sheet_name='5/2023'
df3 = get_data(sheet_name=sheet_name, start='A1')

In [30]:
df_daily = df3.iloc[10:,:]
df_daily2 = df_daily.melt(id_vars='None|None')
df_daily2[['user', 'criteria']] =df_daily2['variable'].str.split('|', expand=True)
df_daily2.rename(columns={'None|None':'report_date'}, inplace=True)
df_daily2.drop(columns='variable', inplace=True)
df_daily2.dropna(subset='value', inplace=True)
df_daily2

     report_date value  user criteria
0              1   120   Sơn    Total
1              2     0   Sơn    Total
2              3    80   Sơn    Total
3              4     0   Sơn    Total
4              5    80   Sơn    Total
...          ...   ...   ...      ...
1559          24     0  Ninh    Total
1560          25     0  Ninh    Total
1561          26     0  Ninh    Total
1562          27     0  Ninh    Total
1563          28     0  Ninh    Total

[421 rows x 4 columns]

In [25]:
df_daily2['report_date'] = df_daily2['report_date'].astype(str)
df_daily3 = df_daily2.query("value!=0").pivot(columns='criteria', index=['user', 'report_date'], values='value').reset_index()
df_daily3

criteria  user report_date Burpee Core Pushup  Run Squat Total
0         Hiếu           1     51   26    NaN  NaN   NaN    64
1         Hiếu          10     97   20    NaN  NaN   NaN   107
2         Hiếu          17     28   17    NaN  NaN   NaN  36.5
3         Hiếu           2     31   20    NaN  NaN   NaN    41
4         Hiếu          23     31   36    NaN  NaN   NaN    49
..         ...         ...    ...  ...    ...  ...   ...   ...
103        Đức          27     75   30    NaN  NaN    75   115
104        Đức          28     55   60     10  NaN    90   120
105        Đức          29     70   40    NaN  NaN    30   100
106        Đức           4     55  NaN    NaN  NaN   NaN    55
107        Đức           9     20  NaN    NaN  NaN   NaN    20

[108 rows x 8 columns]

In [28]:
df_daily3[df_daily3['report_date'].isna()]

Empty DataFrame
Columns: [user, report_date, Burpee, Core, Pushup, Run, Squat, Total]
Index: []

In [31]:
df_daily2[df_daily2['report_date'].isna()]

    report_date value  user criteria
447        None    16  Kiên   Burpee

In [29]:
df_daily3[df_daily3['report_date']=='None']

criteria  user report_date Burpee Core Pushup  Run Squat Total
45        Kiên        None     16  NaN    NaN  NaN   NaN   NaN

In [2]:
import plotly.graph_objs as go
import pandas as pd

# Example dataframe
data = {
    'report_date': pd.date_range(start='2023-09-01', periods=10, freq='D'),
    'mtd_actual': [200, 300, 250, 400, 450, 500, 600, 550, 700, 650],
    'mtd_target_norm': [220, 320, 270, 390, 430, 480, 620, 560, 710, 670]
}

df = pd.DataFrame(data)

# Create traces for the actual and budget lines
actual_trace = go.Scatter(x=df['report_date'], y=df['mtd_actual'], mode='lines', name='Actual Sales', line=dict(color='blue'))
target_trace = go.Scatter(x=df['report_date'], y=df['mtd_target_norm'], mode='lines', name='Budget Sales', line=dict(color='orange'))

# Create a trace for the area under the actual sales line (fill with blue)
fill_under_actual_trace = go.Scatter(
    x=df['report_date'],
    y=df['mtd_actual'],
    fill='tozeroy', 
    mode='none', 
    fillcolor='rgba(0, 0, 255, 0.2)',  # Light blue fill
    showlegend=False
)

# Create traces to fill the area between actual and budget sales with green or red
fill_between_lines = []

for i in range(len(df)-1):
    # If actual >= budget, fill with light green, else fill with light red
    fillcolor = 'rgba(0, 255, 0, 0.2)' if df['mtd_actual'][i] >= df['mtd_target_norm'][i] else 'rgba(255, 0, 0, 0.2)'
    fill_between_lines.append(go.Scatter(
        x=[df['report_date'][i], df['report_date'][i+1]], 
        y=[df['mtd_actual'][i], df['mtd_actual'][i+1]],
        fill='tonexty',
        mode='lines',
        line=dict(width=0),  # Hide the line
        fillcolor=fillcolor,
        showlegend=False
    ))

# Create figure and add traces
fig = go.Figure()

# Add the under actual fill trace
fig.add_trace(fill_under_actual_trace)

# Add the filling between actual and budget traces
for trace in fill_between_lines:
    fig.add_trace(trace)

# Add the actual and budget lines
fig.add_trace(target_trace)
fig.add_trace(actual_trace)

# Update layout
fig.update_layout(title='Actual Sales vs Budget Sales',
                  xaxis_title='Date',
                  yaxis_title='Sales',
                  showlegend=True)

# Show the figure
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed